<li class="ps-selectable-item ps-select">
    <div class="ps-noselect">
        <i class="fa {{icon}} ps-menu-icon"></i>
        {{label}}
    </div>
    <i class="fa fa-2x fa-caret-left ps-menu-active-indicator" *ngIf="isActive()"></i>
</li>