<div class="ps-title-bar">
    <div class="row">
        <div class="ps-logo-area col-sm-6"><!-- DESDE QUE ESTEJAMOS NO TAMANHO PEQUENO OU MAIOR,ELE OCUPARÁ 6 COLUNAS DO GRID -->
           <img class="ps-icon" ng-src="{{iconFile}}"/>
           <div class="ps-title-area">
               <p class="ps-logo-title">{{title}}</p>
               <p class="ps-logo-subtitle">{{subtitle}}</p>
           </div>

           <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" class="ps-collapsed-menu pull-right">
                <button type="button" class="btn ps-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
           </div>


        </div>

        <div class="ps-right-side-controls col-sm-6">
            <div>
                <button class="btn btn-primary"> Button 1</button>
                <button class="btn btn-success"> Button 2</button>
                <button class="btn btn-warning"> Button 3</button>
            </div>
        </div>
    </div>
</div>
<div ng-transclude></div>

<div style="position: absolute; left:220px; top: 200px; color:red; font-size: 44px;">
    {{routeString}}
</div>